{
  "tabWidth": 2,
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindAttributes": ["wrapperClassName", "wrapClassName", "rootClassName"],
  "tailwindFunctions": ["twJoin", "twMerge"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
